name: DAST - OWASP ZAP

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and start application
        run: |
          docker compose up --build -d
          sleep 90

      - name: Check app availability
        run: |
          curl -I http://localhost:8000 || exit 1

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.11.0
        with:
          target: http://localhost:8000
          fail_action: false

      - name: Stop containers
        run: docker compose down
